/*
Vista AltaPersona
*/

.bodform
{
	margin-left: 10px;
	margin-right: 10px;
}

#tel1
{
	display: none;
}

#tel2
{
	display: none;
}
#tel3
{
	display: none;
}
#tel4
{
	display: none;
}
#InstRev
{
	display: none;
}
#FecRev
{
	display: none;
}